<!doctype html>
<html class="default no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>
    <meta name="description" content="A JavaScript library for parsing, converting, and in-browser playback of the proprietary animation formats used by Nintendo's Flipnote Studio and Flipnote Studio 3D apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">
	<link rel="stylesheet" href="{{relativeURL "assets/css/pages.css"}}">
	<link rel="stylesheet" href="{{relativeURL "assets/css/landing.css"}}">
</head>
<body>

{{{ contents }}}

<div class="overlay"></div>
<script src="{{relativeURL "assets/js/flipnote.webcomponent.min.js"}}"></script>
<script src="{{relativeURL "assets/js/main.js"}}"></script>
<script>if (location.protocol == 'file:') document.write('<script src="{{relativeURL "assets/js/search.json"}}"><' + '/script>');</script>

{{> analytics}}

</body>
</html>
